@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100;1,100,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Noto+Sans+JP:wght@100..900&family=Water+Brush&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Gradient background */
.back-gradient {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(45deg, #000000, #3b3b3b, #000000, #3b3b3b, #000000);
    background-size: 300% 300%;
    animation: color 12s ease-in-out infinite;
}

@keyframes color {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

/* Navbar */
header {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    background-image: linear-gradient(to right, black, #333333); 
    border-bottom: 0.5px solid #A02C3B;
}

.logo {
    width: 150px;
    cursor: pointer;
    margin-right: 20px;
    padding-top: 0;
    padding-left: 15px;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    margin-left: 20px;
}

.nav_links li:first-child {
    margin-left: 0;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
    color: #D9DCE1;
    text-decoration: none;
    font-size: 14px;
    font-family: "Roboto Condensed", sans-serif;
    margin-right: 70px;
    font-weight: 900;
}

.nav_links li a:hover {
    color: #A02C3B;
}

button {
    padding: 8px 15px;
    color: white;
    background-color: rgba(0,0,0,0.39);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    margin-right: 15px;
}

button:hover {
    background-color: rgba(130, 30, 40, 0.8);
}

.cta {
    text-transform: uppercase;
    letter-spacing: 1px;
}

.cta button {
    font-weight: bold;
}

/* Typewriter text */

.Typerwriter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
}

.text4type {
    font-size: 5em;
    letter-spacing: 0.5px;
    font-family: "Water Brush", sans-serif;
    width: 100%;
    top: calc(45% + 0px); 
    border-right: 5px solid #A02C3B ;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 2s steps(17), cursor .5s step-end infinite alternate;
}

.white-text {
    color: white;
}

.red-text {
    color: #A02C3B;
}

.white-text, .red-text {
    border-right: 5px solid transparent;
    animation: typing 2s steps(17), cursor .4s step-end infinite alternate;
}

@keyframes cursor {
    50% {
        border-color: transparent;
    }
}

@keyframes typing {
    from {
        width: 0;
    }
}

/* japanese version */

.text4jp {
    position: absolute;
    top: calc(45% + 0px); 
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em;
    letter-spacing: 13px;
    font-family: "Noto Sans JP", sans-serif;
    white-space: nowrap;
    overflow: hidden;
    padding-left: 20px;
}

.white-text {
    color: white;
}

.red-text {
    color: #A02C3B;
}

.white-text, .red-text {
    border-right: 5px solid transparent;
    animation: typing 2s steps(6), cursor .2s step-end infinite alternate;
}

@keyframes cursor-jp {
    50% {
        border-color: transparent;
    }
}

@keyframes typing-jp {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

/* explore button */

.explore-container {
    position: relative;
    text-align: center;
    padding-top: 70px; /* Add padding to create space between the text and the button */
}

.explore-more button {
    position: absolute;
    top: calc(50% + 30px);
    padding: 12px 20px;
    color: white;
    background-color: rgba(0,0,0,0.39);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    margin-right: 15px;
    font-family: "Water Brush", sans-serif ;
    font-size: 16px;
}

.explore-more button:hover {
    background-color: rgba(130, 30, 40, 0.8);
}

.explore-more{
    text-transform: uppercase;
    letter-spacing: 2px;
}

.explore-more button {
    font-weight: 400 bold;
}
